
<div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email"  name="email" >
      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" name ="password" >
      <mat-error *ngIf="password?.errors?.['required']">
        Email is required
      </mat-error>
    </mat-form-field>
  <div class="center margin-top">
    <button mat-raised-button color="primary" type="submit">
      Login
    </button>
  </div>
  </form>
</div>


